.infobox {
  padding: 1em 1em 1em 1em;
  margin-bottom: 10px;
  border: 2px solid #004E4F;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.space_logo {
    margin-left: 30px;
    margin-bottom: 15px;
}

h4 {
  text-indent: -9999px;                 /* sends the text off-screen */
    background-image: url(/the_img.png);  /* shows image */
    height: 100px;                        /* be sure to set height & width */
    width: 600px;
    white-space: nowrap; 
}

div #refs {
    display: none;
}